.chat{
    display:flex;
    flex-direction: column;
    flex:0.75;
    background-color: #363a3f;
    height:100vh;
}
.chat__input{
    color:lightgray;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px;
    background-color: #474b53;
    border-top:1px solid gray;
}
.chat__message{
    flex:1;
}
.chat__input>form>input{
    padding:15px;
    background-color: transparent;
    border:none;
    outline:none;
    display:flex;
    color:white;
    width:100%;
    font-size:large;
}
.chat__input>form{
    flex:1;
}
.chat__input>form>button{
    display:none;
}